name: Build Landscape from LFX

on:
  workflow_dispatch:
  schedule:
  - cron: "0 13 * * *"

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - uses: jmertic/lfx-landscape-tools@main
        with:
          project_processing: skip
        env:
          token: ${{ secrets.PAT }}
          repository: ${{ github.repository }}
          ref: ${{ github.ref }}
